<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body class="bg-light">

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" th:src="@{/images/life-guard.png}" height="72">
        <h2>Welcome Back Commander!</h2>
        <p class="lead">Admin operations here</p>
    </div>


    <div class="row">
        <div class="col-md-12 order-md-1">
           <table class="table">
               <thead>
                   <tr>
                       <th scope="col">Name</th>
                       <th scope="col">Address</th>
                       <th scope="col">Postal Code</th>
                       <th scope="col">Email</th>
                   </tr>
               </thead>
               <tbody>
                   <tr th:each="signUp: ${signUpList}">
                       <td th:text="${signUp.name}" />
                       <td th:text="${signUp.address}" />
                       <td th:text="${signUp.postalCode}" />
                       <td th:text="${signUp.email}" />
                   </tr>
               </tbody>

           </table>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div>
</body>
</html>
