<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body class="bg-light">

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" th:src="@{/images/swimmer-solid.png}" height="72">
        <h2>Sign Up</h2>
        <p class="lead">Sign up for the best swimming lessons in town!</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3" th:text="${message}">Submissions Successful!</h4>
            <h5>Details:</h5>

            <dl class="row">
                <dt class="col-sm-3">Id</dt>
                <dd class="col-sm-9" th:text="${id}">id</dd>

                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9" th:text="${signUp.name}">name</dd>

                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-9" th:text="${signUp.address}">address</dd>

                <dt class="col-sm-3">Postal Code</dt>
                <dd class="col-sm-9" th:text="${signUp.postalCode}">postal code</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9" th:text="${signUp.email}">email</dd>
            </dl>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
</html>
