<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body class="bg-light">

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" th:src="@{/images/swimmer-solid.png}" height="72">
        <h2>Sign Up</h2>
        <p class="lead">Sign up for the best swimming lessons in town!</p>
    </div>


    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate action="#" th:action="@{/}" th:object="${signUp}" method="post">
                <div class="mb-3">
                    <label for="firstName">Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 mb-3">
                        <label for="address">Address</label>
                        <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Blk 123 Yishun St 11 #02-02" required>
                        <div class="invalid-feedback">
                            Please enter your address.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="postalCode">Postal Code</label>
                        <input type="text" th:field="*{postalCode}" class="form-control" id="postalCode" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for quick updates.
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div>
</body>
</html>
